@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
.title {
    color: #666666;
    margin-top: 100px;
    text-align: center;
}

.divider {
    background-color: #4A89AA;
}

.social {
    margin-top: 50px;
    width: 100%;
    text-align: center;
}

.social>.container-fluid .logo {
    color: white;
    font-size: 150px;
    line-height: 150px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
}

.social>.container-fluid .logo>i {
    margin: 0 auto;
}

.social>.container-fluid>.row div {
    color: white;
    text-align: center;
    font-weight: bold;
}

.social>.container-fluid>.row>div {
    padding: 20px;
    position: relative;
}

.social>.container-fluid>.row>div>.icon {
    transition: all .3s ease;
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social>.container-fluid>.row>div:hover>.icon {
    opacity: 1;
}

.social>.container-fluid>.row>div>.icon a i {
    margin: 5px;
    display: block;
    border-radius: 70px;
    font-size: 30px;
    /* font-size: 23.52941176px; */
    line-height: 70px;
    width: 70px;
    background-color: #ffffff;
    text-align: center;
    color: #21374B;
    z-index: 1000;
}

.social>.container-fluid>.row>div>.icon a i:hover {
    font-size: 40px;
    line-height: 75px;
    width: 75px;
    background-color: #21374B;
    color: #ffffff;
    cursor: pointer;
}

.social>.container-fluid>.row>div:before,
.social>.container-fluid>.row>div>.icon * {
    transition: all .3s ease;
}

.social>.container-fluid>.row>div:before {
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0;
    height: 100%;
}

.social>.container-fluid>.row>div:hover:before {
    opacity: 0.8;
    transform: scale(0.95);
}

.social>.container-fluid>.row>div logo,
.social>.container-fluid>.row>div span {
    margin: 0 auto;
}

.social>.container-fluid>.row>div:nth-child(1) {
    background-color: #21374B;
}

.social>.container-fluid>.row>div:nth-child(2) {
    background-color: #BE4248;
}

.social>.container-fluid>.row>div:nth-child(3) {
    background-color: #4A89AA;
}

.form-contact {
    min-height: 100vh;
    height: 100vh;
    background: url('../images/background1.jpeg') no-repeat;
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;
    background-attachment: fixed;
    width: 100%;
    position: relative;
    padding-top: 65px;
}

.form-contact .row {
    margin-bottom: 10px;
}

.form-contact input {
    width: 80%;
    height: 60px;
    padding: 5px;
    margin-bottom: 30px;
}


/* le premier input qui corrspond au nom */

.form-contact .container>.row>div {
    padding: 0;
}

.form-contact textarea {
    width: 100%;
    margin: 0 auto;
    padding: 5px;
    margin-top: 30px;
    min-height: 40vh;
    resize: none;
}

.form-contact a.see-all {
    background-color: #4A89AA;
    color: white;
    margin-bottom: 0 !important;
}

.form-contact .row.see-all {
    margin-bottom: 0;
}


/* taille des input, media queries */

@media (max-width: 768px) {
    .form-contact .container>.row>div:nth-child(2) {
        text-align: left !important;
    }
    .form-contact input {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .form-contact .container>.row>div:nth-child(2) {
        text-align: right !important;
    }
    .form-contact input {
        width: 80%;
    }
}


/* taille des textes media */

@media (max-width: 950px) {
    .social>.container-fluid .link>span {
        font-size: 80% !important;
    }
}


/* taille des textes media */

@media (max-width: 215px) {
    .social>.container-fluid .link>span {
        font-size: 60% !important;
    }
    .social>.container-fluid .logo {
        font-size: 90px;
        line-height: 90px;
    }
}