.title {
    color: #666666;
    margin-top: 100px;
    text-align: center;
}

.divider {
    background-color: #4A89AA;
}

.info {
    text-align: center;
}

.social {
    margin: 50px 0;
    width: 100%;
    text-align: center;
}

.social>.container-fluid>.row div {
    color: white;
    text-align: center;
    font-weight: bold;
}

.social>.container-fluid>.row>div {
    padding: 20px;
}

.social>.container-fluid>.row>div img,
.social>.container-fluid>.row>div span {
    margin: 0 auto;
}

.social>.container-fluid>.row>div:nth-child(1) {
    background-color: #21374B;
}

.social>.container-fluid>.row>div:nth-child(2) {
    background-color: #BE4248;
}

.social>.container-fluid>.row>div:nth-child(3) {
    background-color: #4A89AA;
}

.form-contact {
    min-height: 100vh;
    height: 100vh;
    background: url('../images/background1.jpeg') no-repeat;
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;
    background-attachment: fixed;
    width: 100%;
    position: relative;
    padding-top : 50px;
}

.form-contact .row {
    margin-bottom: 10px;
}

.form-contact input {
    width: 80%;
    height: 60px;
    padding: 5px;
    margin-bottom: 30px;
}


/* le premier input qui corrspond au nom */

.form-contact .container>.row>div {
    padding: 0;
}

.form-contact textarea {
    width: 100%;
    margin: 0 auto;
    padding: 5px;
    margin-top: 30px;
    min-height: 40vh;
    resize: none;
}


/* taille des input, media queries */

@media (max-width: 768px) {
    .form-contact .container>.row>div:nth-child(2) {
        text-align: left !important;
    }
    .form-contact input {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .form-contact .container>.row>div:nth-child(2) {
        text-align: right !important;
    }
    .form-contact input {
        width: 80%;
    }
}

.form-contact a.see-all {
    background-color: #4A89AA;
    color: white;
}