@import url('https://fonts.googleapis.com/css?family=Open+Sans');
* {
    font-size: 100%;
    font-family: 'Open Sans', serif;
}

html,
body {
    width: 100%;
    height: 100%;
}

body{
    overflow-x: hidden;
}

div.image-background {
    min-height: 100vh;
    height: 100vh;
    background: url('../images/background1.jpeg') no-repeat;
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;
    background-attachment: fixed;
    width: 100%;
    position: relative;
}

div.image-background .caption {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 0;
    height: 100px;
    width: 100%;
    color: white;
}

div.image-background .caption #start {
    background-color: grey;
    opacity : 0.8;
    margin-right : 0;
    text-transform: uppercase;
    border-radius: 2px;
    font-size: 50px;
    padding: 15px;
}

.title{
    font-size: 50px;
    letter-spacing: 3px;
    font-weight: bold;
    margin : 0 auto;
    margin-top : 50px;
}


/* taille des textes media */
@media (max-width: 215px){
    .title{
        font-size:30px !important;
    } 
}

.divider{
    height: 5px;
    width: 15%;
    margin: 5px auto;
    margin-bottom: 50px;
}

a.see-all{
    padding : 15px 70px;
    margin : 20px auto;
    font-size: 1.5em;
}
