@import url('https://fonts.googleapis.com/css?family=Open+Sans');
* {
    font-size: 100%;
    font-family: 'Open Sans', serif;
}

html,
body {
    width: 100%;
    height: 100%;
}

div.image-background {
    min-height: 100vh;
    height: 100vh;
    background: url('../images/background1.jpeg') no-repeat;
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;
    background-attachment: fixed;
    width: 100%;
    position: relative;
}

div.image-background .caption {
    position: absolute;
    top: 50%;
    left: 0;
    height: 100px;
    width: 100%;
    color: white;
}

div.image-background .caption span {
    background-color: grey;
    opacity : 0.8;
    text-transform: uppercase;
    letter-spacing: 10px;
    border-radius: 2px;
    font-size: 20px;
    padding: 15px;
}

.affix-top,.affix{
	position: static;
}


@media (min-width: 979px) {
    #sidebar.affix-top {
      position: static;
        margin-top:30px;
        width:228px;
    }
    
    #sidebar.affix-bottom {
      position: relative;
    }
  
    #sidebar.affix {
      position: fixed;
      top:70px;
      width:228px;
    }
  }
  
  #sidebar li.active {
        border:0 #eee solid;
        border-right-width:4px;
  }
  
  #sidebar li li.active {
        border:0 #ccc solid;
        border-right-width:3px;
  }
  
  #mainCol h2 {
      padding-top: 55px;
      margin-top: -55px;
  }