.presentation-contact {
    background-color: #BE4248;
    padding: 50px 0;
    width: 100%;
}

.presentation-contact .title {
    color: white;
}

.presentation-contact .divider {
    background-color: white;
}

.presentation-contact a.see-all {
    background-color: #4A89AA;
    color: white;
}

.presentation-contact .text-contact,
.presentation-contact .text-contact .col {
    text-align: center !important;
}

.presentation-contact .text-contact {
    color: white;
    font-size: 2em;
}

.presentation-contact .text-contact a {
    color: grey;
}