.presentation-about {
    background-color: #21374B;
    padding: 50px 0;
    width: 100%;
}

.presentation-about > .row{
    margin-top : 17px;
}

.presentation-about .title {
    color: white;
}

.presentation-about .divider {
    background-color: #396783;
}

.presentation-about .image-profil {
    background: url('../images/lol.jpg') no-repeat;
    width: 200px;
    height: 200px;
    border-radius: 200px;
    margin: 0 auto;
}

.presentation-about .text-profil {
    color: white;
    text-align: left;
    margin: auto 0;
}

.presentation-about a.see-all {
    background-color: white;
    color: #b9b5b5;
}