.presentation-projet {
    background-color: white;
    width: 100%;
    margin-top: 50px;
}

.presentation-projet .title {
    color: #676767;
}

.presentation-projet .divider {
    background-color: #4C8AAB;
}

.presentation-projet a.see-all {
    background-color: #4A89AA;
    color: white;
}

.presentation-projet>.container>.row>.col>.row>div {
    margin-bottom:15px;
}

projets {
    padding-top: 50px;
}